:host {
  height: 100%;
  width: 100%;
  padding: 1rem;

  form.library-settings {
    width: 100%;
    text-align: center;
  }

  ul.books {
    list-style: none;
    padding: 0;
    margin: 0;

    li.book {
      padding: 1rem;
      border-top: solid 1px #cccccc;

      ul.book-settings {
        list-style: none;
        margin: 0;
      }

      ul.comments {
        list-style: none;
        margin: 0;
      }
    }
  }
}
