<div class="list">
  <ul id="libraries">
    <li class="title">Libraries</li>
    <li *ngFor="let library of libraries$|async">
      <a [routerLink]="['/', 'libraries', library.id]">{{ library.name }}</a>
    </li>
    <li class="pagination">
      <button *ngFor="let page of pages$|async"
              [disabled]="page + 1 === (currentPageSubject|async)"
              (click)="onClickOnPage(page + 1)">{{ page + 1 }}</button>
    </li>
  </ul>
  <ul id="users">
    <li class="title">Persons</li>
    <li>
      <input type="text"
             id="searchPerson"
             placeholder="Type first name"
             [(ngModel)]="searchedFirstName"
             (ngModelChange)="onSearchedFirstNameChange()"/>
    </li>
    <li *ngFor="let person of person$|async">
      {{ person.fullName }}
    </li>
  </ul>
</div>
<div class="library">
  <router-outlet></router-outlet>
</div>
