name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (ex: 1.0.0)'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 10.16.0 ]

    steps:
      - uses: actions/checkout@v2

      - name: Set version v${{ github.event.inputs.name }}
        run: npm run version --package_version=${{ github.event.inputs.name }}

      - name: Commit & Push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_user_email: romain.martineau@witty-services.fr
          commit_user_name: Romain MARTINEAU
          commit_message: 'release: v${{ github.event.inputs.name }}'

